<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>欢迎进入图书管理系统</title>
  <link rel="stylesheet" href="../assets/bookstrap/css/bootstrap.css">
  <script src="../assets/jquery-3.2.1/jquery.min.js"></script>
  <script src="../assets/bookstrap/js/bootstrap.js"></script>
  <script>
    $(function () {
      $("#pwdButton").click(function() {
        let $oPwd = $("#oPwd").val();
        let $n1Pwd = $("#n1Pwd").val();
        let $n2Pwd = $("#n2Pwd").val();
        if ($oPwd === "" ||$n1Pwd === ""
             || $n2Pwd === "" || $n1Pwd !== $n2Pwd ) {
          $("#checkPwd").show();
          return false;
        }
        $("#pwdButton").val("密码修改成功！").removeClass("btn-info").addClass("btn-success")
        .attr("disabled","disabled");
        return false;
      })
      //focusin可以在父元素上检测子元素获得焦点的情况(
      $("#pwdForm").focusin(function() {
        $("#checkPwd").hide();
      })

    });
  </script>
</head>
<body>
<!-- 小屏幕上水平导航栏会切换为垂直的 .ml-auto(元素居右) .mr-auto(元素居左) -->
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <a class="navbar-brand" href="#">图书管理系统</a>

  <ul class="navbar-nav ml-auto" style="margin-right: 15px">
    <li class="nav-item active">
      <a class="nav-link" href="#">2019年6月10日</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">欢迎admin</a>
    </li>
    <!-- Dropdown -->
    <li class="nav-item active dropdown ">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        系统设置
      </a>

      <div class="dropdown-menu" style="min-width:90%">
        <a class="dropdown-item" data-toggle="modal" data-target="#modifyPwd">修改密码</a>
        <a class="dropdown-item disabled" href="#">————</a>
        <a class="dropdown-item" data-toggle="modal" data-target="#logout">退出</a>
      </div>
    </li>
  </ul>
</nav>
<!-- 模态框 修改密码 start -->
<div class="modal fade" id="modifyPwd">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- 模态框头部 -->
      <div class="modal-header">
        <h5 class="modal-title">密码修改</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- 模态框主体 start-->
      <div class="modal-body" id="div1">
        <form id="pwdForm"  method="post">
          <div class="form-group">
            <label for="oPwd">原密码:</label>
            <input type="password" class="form-control"  placeholder="必填"
                   id="oPwd" name="oPwd">
          </div>
          <div class="form-group">
            <label for="n1Pwd">新密码:</label>
            <input type="password" class="form-control" placeholder="必填"
                   id="n1Pwd" name="n1Pwd">
          </div>
          <div class="form-group">
            <label for="n2Pwd">新密码确认:</label>
            <input type="password" class="form-control" placeholder="必填"
                   id="n2Pwd" name="n2Pwd">
          </div>
          <div id="checkPwd" style="display: none" class="alert alert-danger  text-center">
            <strong>密码未填或两次输入密码不一致！</strong>
          </div>
          <input id="pwdButton" type="submit" class="btn  btn-block btn-primary btn-info" value="修改"/>
        </form>
      </div>
    </div>
  </div>
</div>
<!--模态框 修改密码 end-->
<!--模态框 退出 start-->
<div class="modal fade" id="logout">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- 模态框头部 -->
      <div class="modal-header">
        <h5 class="modal-title">确定退出？</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- 模态框主体 start-->
      <div class="modal-body">
        <form action="login.html" method="post">
          <button type="submit" class="btn  btn-block btn-primary btn-success">退出</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--模态框 退出 end-->
<div style="margin-top: 1%">
  <!--主显示区-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2">
        <div class="list-group">
                <span class="glyphicon glyphicon-home">
                <li class="list-group-item active">功能列表</li></span>
          <a href="accountList.html" target="mframe" class="list-group-item list-group-item-action">账户管理</a>
          <a href="booksList.html" target="mframe" class="list-group-item list-group-item-action">图书管理</a>
        </div>
      </div>

      <!--业务-->
      <div class="col-lg-10">
        <!--iframe-->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe id="mframe" name="mframe" class="embed-responsive-item"
                  src=""/>
        </div>
        <!--iframe-->
        <!--业务-->
      </div>
    </div>
  </div>
</div>

</body>
</html>