<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>      
    <settings>
        <!--mybatis sql打印-->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <!-- 加载Mapper映射文件 -->
    <mappers>
        <!-- 空着就行，由spring配置加载 -->
    </mappers>
</configuration>